.User {
    position: absolute;
    bottom: 5px;
    left: 5px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color: rgb(97, 37, 109);
    color: #fff;
    border-radius: 5px;
    p {
        margin: 0;
        text-align: left;
    }
}

.Dashboard {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #1f1d2b;
    padding-top: 2rem;
}

.Container{
    display: flex;
    flex-direction: column;
    width: 1650px;
    height: 40rem;
}

.Item{
    background-color: #252836;
    border-radius: 15px;
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 15px;

    h3 {
        margin: 0;
        color: #fff;
    }
    &Heading{
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid #303340;
        padding: 10px 0;
        margin-top: 0.5rem;
        width: 90%;
        margin-bottom: 1rem;
    }
}

.Notification {
    width: calc(90% - 10px);
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background-color: #2d303e;
    padding:  10px;
    margin-bottom: 5px;
    h4{
        color: #fff;
        margin: 0;
    }
    p{
        color: #636474;
        margin: 0;
    }

    &Icon{
        width: 40px;
        height: 40px;
        background-color: #fff;
        display: flex;
        border-radius: 5px;
    }

    &Message{
        width: 88%;
    }
}

